* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
}
html,
body {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  background: #475259;
  overflow-x: hidden;
}
body {
  background-image: url("lvimg.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.navigation, header img, .features,
.footer-info h3, .footer-media img,
.main-content, header.logo-img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* Top navigation */
.navigation {
  /* background-color: #fff; */
  margin-left: 30px;
  margin-top: 30px;
  width: 500px;
  height: 60px;
  float: left;
}
.navigation ul {
  font: bold 11px "Helvetica", "sans-serif";
  margin: 0;
  padding: 10px 0;
  text-transform: uppercase;
}
.navigation li {
  display: inline-block;
}
.navigation a.current {
  background: #314b60;
  box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .3);
}
.navigation a {
  background: #395870;
  background: linear-gradient(#475259, #5F6B72);
  color: #fff;
  padding: 12px 20px;
  /* padding: 0 10px; */
  border-right: 1px solid rgba(0, 0, 0, .3);
  text-decoration: none;
}
.navigation a:hover {
  /* color: #F2691A; */
  /* border-bottom: 2px solid #446E74; */
  /* text-decoration: underline #F2691A; */
  background: #314b60;
  box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .3);
}
.navigation li:first-child a {
  border-radius: 4px 0 0 4px;
}
.navigation li:last-child a {
  border-left: none;
  border-radius: 0 4px 4px 0;
}
header .logo-img {
  float: right;
  margin-right: 0px;
  margin-top: 0px;
}
/* Right bottom features info */
.features {
  position: fixed;
  right: 30px;
  bottom: 30px;
  background: rgba(66, 78, 89, 0.3);
  padding: 10px;
  border: 1px solid #424E59;
  border-radius: 6px;
/*   top: 300px;
  left: 30px; */
  width: 180px;
  height: auto;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.features li {
  text-decoration: none;
  list-style: none;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  /* text-align: end; */
  text-align: center;
  padding-bottom: 5px;
}
/* Footer contact info */
.footer {
  position: fixed;
  bottom: 30px;
  left: 30px;
  /* background: rgba(0, 0, 0, 0.5); */
  width: 450px;
  height: 55px;
  font-family: "Helvetica", "sans-serif";
  font-size: 0;
}
.footer div {
  display: inline-block;
  padding-right: 20px;
  overflow: auto;
}
.footer-info {
  font-size: 0;
}
.footer-info h3,
.footer-info p {
  color: #fff;
  font-size: 13px;
  font-family: "Helvetica", "sans-serif";
  margin: 0;
  padding: 5px;
}
.footer-info h3 {
  text-transform: uppercase;
  font-size: 12px;
}
.footer-media img:first-child {
  padding-right: 20px;
}

/* Content info */
.main-content {
  position: absolute;
  background: rgba(66, 78, 89, 0.6);
  border: 2px solid #424E59;
  border-radius: 6px;
  color: #fff;
  font-family: 'Open Sans', 'sans-serif';
  display: flex;
}
.main-content p {
  font-size: 18px;
  line-height: 1.4em;
  padding: 5px;
  margin: auto;
  text-align: center;
}
.main-content span {
  /* border-bottom: 5px solid #EB5936; */
  text-transform: uppercase;
  color: #EB5936;
  font: bold;
}

/* #OPEN PAGE */
.open-content {
  width: 700px;
  height: 200px;
  top: 30%;
  left: 30%;
}


/* #TEENUSED */
.teenused-content {
  width: 500px;
  height: 300px;
  top: 30%;
  left: 8%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.teenused-content p {
  font-size: 16px;
  line-height: 1.3em;
}
.side-grid {
  position: absolute;
  display: flex;
  width: 200px;
  height: 540px;
  right: 16%;
  top: 20%;
/*   background: rgba(66, 78, 89, 0.9); */
}
.grid-container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.grid-item {
  width: 200px;
  height: 180px;
  text-align: center;
}
.grid-item img {
  width: 200px;
  height: 170px;
  filter: grayscale(80%);
  margin-bottom: 10px;
}
.grid-item h3 {
  color: #fff;
  font-size: 15px;
  margin-top: 10px;
  text-transform: uppercase;
  text-decoration: underline #F28B4F;

}
.grid-item .item1,
.grid-item .item2,
.grid-item .item3 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  background: rgba(66, 78, 89, 0.6);
  padding: 10px;
}
.grid-item .item1 {
  top: 15%;
}
.grid-item .item2 {
  top: 50%;
}
.grid-item .item3 {
  top: 80%;
/*   right: 0px; */
}

/* TEHTUD */

.tehtud-content {
  width: 600px;
  height: 250px;
  bottom: 15%;
  left: 15%;
  display: flex;
  justify-content: center;
  overflow: scroll;
}