/* #MEIST */

body {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba( 36, 38, 37, .5)),  url("../images/about/bg.jpg");
  background-image: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(36, 38, 37, .5)), url("../images/about/bg.jpg");
  background-image: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(36, 38, 37, .5)), url("../images/about/bg.jpg");
  background-image: -o-linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(36, 38, 37, .5)), url("../images/about/bg.jpg");
}
.container {
  overflow: auto;
  position: relative;
}
/* INFO CONTAINER */
.info {
  width: 300px;
}
.info-content {
  padding: 0 25px 25px 0;
}
.info-content h2 {
  font-size: 19px;
  text-transform: uppercase;
  font-weight: bold;
}
.info-content p {
  font: 400 17px "Open Sans", sans-serif;
  line-height: 1.6;
  padding: 12px;
}
.info-content span {
  display: none;
  position: absolute;
  left: 450px;
  font-size: 15px;
}
.span1 {
  margin-top: -220px;
}
.span2 {
  margin-top: -128px;
}
.span3 {
  margin-top: -182px;
}
span em {
  font-weight: bold;
}

.info::after {
  content:"";
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 150px;
  left: 50%;
  border-left: 1px solid gray;
  transform: translate(-50%);
  display: none;
}

.employes {
  width: 100%;
  display: block;
}
.employes-wrapper {
  width: 100%;
  max-width: 530px;
  height: auto;
  overflow: auto;
  margin: 25px auto;

  background: rgba(66, 78, 89, 0.6);
  padding: 12px;
  border: 2px solid #424E59;
  border-radius: 6px;
}
.employes-img {
  width: 100%;
}
.employes img {
  /* border-radius: 50%; */
  padding: 12px 0;
  display: block;
  margin: 0 auto;
}

.employes-info-wrapper {
  width: 100%;
}
.employes-info {
  padding: 12px;
  margin: 0 auto;
  text-align: center;
}

@media only screen and (min-width: 460px) {
  .employes-img {
    width: 50%;
    float: left;
  }
  .employes-info-wrapper {
    width: 50%;
    padding: 50px 0 50px 0;
    float: right;
  }
}

@media only screen and (min-width: 764px) {
.info {
    float: left;
  }
  .info::after {
    display: block;
  }
  .employes {
    float: right;
    width: 50%;
  }
  .employes-wrapper {
    width: 260px;
  }
  .employes-img {
    width: 100%;
    float: none;
  }
  .employes-info-wrapper {
    width: 100%;
    padding: 0;
    float: none;
  }
}

@media only screen and (min-width: 930px) {
  .info {
    margin-bottom: 150px;
  }
  .employes-wrapper {
    width: 90%;
    margin: 25px auto;
  }
  .employes-img {
    float: left;
    width: 50%;
  }
  .employes-img img {
    margin: 0;
  }
  .employes-info {
    padding: 65px 0;
  }
  .employes-info-wrapper {
    float: right;
    width: 50%;
    margin: 0;
  }
}

@media only screen and (min-width: 1435px) {
  .info-content span {
    display: block;
  }
}