body {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(36, 38, 37, .2)), url("../images/index/lvimg.png");
}

.main-wrapper img {
  width: 50px;
  height: 50px;

  position: absolute;
  top: 40%;
}
.main {
  height: auto;
}
.main-content {
  position: relative;

  height: auto;
  padding: 25px;
}
.handle-wrapper {
  display: none;
}
@media only screen and (min-width: 620px) {
  .main {
    height: 225px;
  }
  .main-content {
    transform: none;
    width: 100%;
    margin-left: -1500px;
    transition: 1s;
  }
  .main-content.open {
    margin-left: 0;
    transition: 1s;
  }
  .handle-wrapper {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  .main-content {
    width: 700px;
  }
}
@media only screen and (min-width: 992px) {
  .main-content.open {
    left: 20%;
  }
}
@media only screen and (max-height: 800px) {
  .container {
    margin-top: 0;
  }
  .main {
    /* height: 190px; */
  }
}

/* Portfolio preview, grid */

.grid-container {
  margin: 25px 25px 100px 25px;
}
.grid {
  margin: 50px;
  position: relative;

  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
}
.grid-item {
  padding: 2px;
}
.grid-item img {
  width: 154px;
  height: 125px;
  border-radius: 4px;
  /* filter: grayscale(50%); */
}
/* .grid-item img:hover {
  filter: grayscale(0);
} */
.more-items {
  position: relative;
}
.more-items p {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  background: rgb(252, 247, 250);
  background: rgba(252, 247, 250, 0.7);
}
.more-items p span {
  color: #EB5936;
  font-size: 20px;
  padding-right: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (min-width: 620px) {
  .grid-container {display: none;}
  .grid {
    width: 200px;
  }
}
@media only screen and (min-width: 768px) {
  .grid-container {
    margin-top: 100px;
  }
  .grid {
    width: 500px;
    flex-direction: row;
    -webkit-flex-direction: row;
  }
}
@media only screen and (min-width: 992px) {
  .grid {width: 600px;}
  .grid-item img {
    width: 184px;
    height: 155px;
  }
}