/* #INDEX */

body {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(36, 38, 37, .2)), url("../images/index/bg.png");
  background-image: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(36, 38, 37, .2)), url("../images/index/bg.png");
  background-image: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(36, 38, 37, .2)), url("../images/index/bg.png");
  background-image: -o-linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(36, 38, 37, .2)), url("../images/index/bg.png");
}

/* HEADER */
.main {
  height: auto;
}
.main-content {
  position: relative;
  height: auto;
}
.main-content p em {
  text-transform: uppercase;
}
.handle-wrapper {
  display: none;
}

/* Left open arrow */
.handle-wrapper img {
  width: 50px;
  height: 50px;
  margin-top: 12px;

  transition: .5s;
  -webkit-transition: .5s;
}
.imgRotate {
  transform: rotate(180deg);
  /* IE 9 */
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: .5s;
  -webkit-transition: .5s;
}

@media only screen and (min-width: 620px) {
  .main-content {
    width: 80%;
    margin-left: -2500px;
    transition: 1s;
    -webkit-transition: 1s;
  }
  .main-content.open {
    margin-left: 0;
    transition: 1s;
    -webkit-transition: 1s;
  }
  .handle-wrapper {
    position: absolute;
    left: 25px;
    top: 55%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);

    display: block;
    text-align: center;
    cursor: pointer;

    width: 70px;
    height: 125px;
    background: rgba(66, 78, 89, 0.6);
    border: 2px solid #424E59;
    border-radius: 6px;

    color: #fff;
    font-family: "Open Sans", sans-serif;
  }
  .txtRotate {
    transition: all 0.9s ease-in-out;
    transform: rotate(-90deg); 
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }
  .handle-wrapper p {
    padding: 12px;
  }
  .txtNone {
    display: none;
  }
}