*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  width: 100%;
  overflow-x: hidden;
}
body {
  overflow: visible;
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  -moz-osx-font-smoothing: grayscale;
  word-wrap: wrap;
}
html,
body {
  background-color: #475259;
  min-width: 300px;
  /* height: 100%; */ /* overflow broblem with index height*/
}
.desktop-nav, header img, .features,
.footer-info h3, .media img,
.main-content, header.logo-img,
.mobile-nav-wrapper, .over-image-txt {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.container {
  /* width: 100%; */
  display: block;
  margin: 75px 25px;
}
* a {
  text-decoration: none;
}

.logo-img {
  float: right;
  /* position: absolute; */
/*   margin-top: 20px;
  margin-right: 20px; */
  width: 90px;
  height: 64px;
}
@media only screen and (min-width: 625px) {
  .logo-wrapper {
    width: 180px;
    float: right;
    margin-right: 0px;
    margin-top: 0px;
  }
}

/* Top navigation */
header {
  height: 70px;
  margin: 25px;
}
.desktop-nav-wrapper {
  display: none;
}
.desktop-nav {
  /* background-color: #fff; */
  /* margin-left: 30px;
  margin-top: 30px; */
 /*  width: 500px;
  height: 60px;
  float: left; */
}
.desktop-nav ul {
  font: bold 11px "Helvetica", "sans-serif";
  margin: 0;
  padding: 10px 0;
  text-transform: uppercase;
}
.desktop-nav li {
  display: inline-block;
}
.desktop-nav a {
  background: #395870;
  background: linear-gradient(#475259, #5F6B72);
  color: #fff;
  padding: 12px 20px;
  border-right: 1px solid rgba(0, 0, 0, .3);
}
.desktop-nav a.current {
  background: #314b60;
  box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .3);
}
.desktop-nav a:hover {
  background: #314b60;
  box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .3);
}
.desktop-nav li:first-child a {
  border-radius: 4px 0 0 4px;
}
.desktop-nav li:last-child a {
  border-left: none;
  border-radius: 0 4px 4px 0;
}

/* Mobile toggle nav */
.overlay {
  width: 0;
  height: 100%;
  position: fixed;
  z-index: 9;
  left: 0; right: 0;
  top: 0; bottom: 0;
  overflow-x: hidden;
  background: rgba(66, 78, 89, 1);
  transition: .5s;
}
.overlay-nav {
  width: 200px;
  height: 300px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  
  /* display: flex;
  justify-content: center;
  align-items: center; */

  /* background-color: #EB5936; */
}
.overlay-nav ul {
  text-align: center;
}
.overlay-nav li {
  padding: 20px;
}
.overlay-nav a {
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}
.overlay-nav a:hover {
  color: #EB5936;
}
.overlay-nav .current {
  color: #EB5936;
}
.open-icon,
.close-icon {
  position: absolute;
  top: 20px;
  cursor: pointer;
}
.open-icon {
  float: left;
}
.close-icon {
  float: right;
  right: 20px;
}
@media only screen and (min-width: 620px) {
  .desktop-nav-wrapper {display: block;}
  .mobile-nav-wrapper {display: none;}
}

/* Content info */
.main-content {
  background: rgba(66, 78, 89, 0.6);
  border: 2px solid #424E59;
  border-radius: 6px;
  color: #fff;
  font-family: 'Open Sans', 'sans-serif';
}
.main-content p {
  font-size: 13px;
  line-height: 1.4em;
  padding: 5px;
  text-align: center;
}
.main-content p span {
  text-transform: uppercase;
  color: #EB5936;
  font: bold;
}
.main-content p span:hover {
  color: #fff;
}
@media only screen and (min-width: 620px) {
  .main-content p {
    font-size: 16px;
  }
}

/* Right bottom features info */
.features {
  width: 180px;
  margin-top: 50px;
  position: relative;
  height: auto;
  right: 80px;

  left: 50%;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);

  background: rgba(66, 78, 89, 0.6);
  padding: 10px 10px 0 10px;
  border: 2px solid #424E59;
  border-radius: 6px;
}
.features li {
  text-decoration: none;
  text-align: center;
  padding-bottom: 5px;
}
.features li a {
  display: block;
  list-style: none;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}
.features li:last-child {
  width: 100%;
  height: 50px;
  margin-top: 15px;
  padding: 0;
}
.features li:last-child a {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;

  align-items: center;
  justify-content: center;
}
.features li a span {
  font-size: 16px;
}
.features li a svg {
  margin-left: 15px;
}
@media only screen and (min-width: 620px) {
  .features {
    position: fixed;
    float: right;
    transform: none;
    left: auto;
    bottom: 25px;
    right: 25px;
    margin: 0;
  }
}

/* Footer contact info */
.footer {
  width: 100%;
  height: 55px;
  position: fixed;
  bottom: 0;

  background: rgba(66, 78, 89, 0.9);
  border: 2px solid #424E59;
  border-radius: 6px;
  font-family: "Helvetica", "sans-serif";
  font-size: 0;

  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  justify-content: center;
}
.footer div {
  display: inline-block;
  overflow: hidden;
  text-align: center;
  align-self: center;
}
[class*="col-"] {
  float: left;
/*   border: 1px solid red; */
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.col-3 {
  width: 30%;
}
.col-6 {
  width: 20%;
}
.media {
  text-align: end;
}
.footer-info {
  font-size: 0;
}
.footer-info h3,
.footer-info p {
  color: #fff;
  font-size: 11px;
  font-family: "Helvetica", "sans-serif";
  margin: 0;
  padding: 5px;
}
.footer-info h3 {
  text-transform: uppercase;
  font-size: 10px;
}
.footer-media img:first-child {
  padding-right: 20px;
}
@media only screen and (min-width: 620px) {
  .footer {
    width: 380px;
    margin: 25px;
  }
  .footer div {
    text-align: start;
  }
}