*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
* a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
}
.mrg-btm-150 {
  margin-bottom: 150px !important;
}

html {
  overflow-x: hidden;
  height: 100%;
  min-height: 600px;
}
body {
  overflow: visible;
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  -moz-osx-font-smoothing: grayscale;
  word-wrap: wrap;

  min-height: 100%;
  position: absolute;
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
html,
body {
  background-color: #475259;
  min-width: 300px;
}

.desktop-nav, header img, .features,
.footer-info h3, .media img,
header.logo-img, .rotate, .info-content span,
.mobile-nav-wrapper, .over-image-txt {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.container {
  display: block;
  margin: 25px;
}
@media only screen and (max-height: 700px) {
  .container {
    margin-top: 0;
  }
}

/* Top navigation */
header {
  height: 150px;
}
.logo-img {
  float: right;
  width: 200px;
  height: 152px;
  margin: -15px;
}
.desktop-nav-wrapper {
  display: none;
  float: left;
}
.desktop-nav ul {
  font: bold 11px "Helvetica", "sans-serif";
  margin: 0;
  padding: 10px 0;
  text-transform: uppercase;
  margin: 25px 0 25px 25px;
}
.desktop-nav li {
  display: inline-block;
}
.desktop-nav a {
  background: #395870;
  background: linear-gradient(#475259, #5F6B72);
  background: -webkit-linear-gradient(#475259, #5F6B72);
  background: -moz-linear-gradient(#475259, #5F6B72);
  background: -o-linear-gradient(#475259, #5F6B72);

  color: #fff;
  font-size: 12px;
  padding: 12px 20px;
  border-right: 1px solid rgba(0, 0, 0, .3);
}
.desktop-nav a.current,
.desktop-nav a:hover {
  background: #314b60;
  box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .3);
}
.desktop-nav li:first-child a {
  border-radius: 4px 0 0 4px;
}
.desktop-nav li:last-child a {
  border-left: none;
  border-radius: 0 4px 4px 0;
}

/* Mobile toggle nav */
/* html.noscroll html { overflow: hidden; } */

.overlay {
  width: 0;
  height: 100%;
  position: fixed;
  left: 0; right: 0;
  top: 0; bottom: 0;
  z-index: 9;
  overflow-x: hidden;
  background: rgba(66, 78, 89, 1);
  transition: .5s;
  -webkit-transition: .5s;
}
/* .show-overlay {
  width: 300px;
  height: 300px;
  position: absolute;
  background: #555;
} */
/* .show-overlay .overlay {
  width: 100%;
} */
/* [aria-hidden="true"]  { display: none; }
[aria-hidden="false"] { display: block; } */
.overlay-nav {
  width: 200px;
  height: auto;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.overlay-nav ul {
  text-align: center;
}
.overlay-nav li {
  padding: 20px;
}
.overlay-nav a {
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}
.overlay-nav a:hover {
  color: #EB5936;
}
.overlay-nav .current {
  color: #EB5936;
}
.open-icon,
.close-icon {
  position: absolute;
  top: 20px;
  cursor: pointer;
}
.open-icon {
  float: left;
  margin-left: 25px;
}
.close-icon {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 44px;
  height: 44px;
  line-height: 44px;
  
  cursor: pointer;
  background: transparent;
  border: 0;
  display: block;
  outline: none;
  padding: 0;
  touch-action: manipulation;
  
  font-style: normal;
  font-family: Arial, Baskerville, monospace;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  font-size: 42px;
  color: #FFF;
  border-bottom: 2px solid rgba(255, 255, 255, 0.69);
  border-left: 2px solid rgba(255, 255, 255, 0.69);
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.close-icon:hover {
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .desktop-nav-wrapper {display: block;}
  .mobile-nav-wrapper {display: none;}
}

/* Content info */
.main-content {
  background: rgba(66, 78, 89, 0.6);
  border: 2px solid #424E59;
  border-radius: 6px;
  color: #fff;
  font-family: 'Open Sans', 'sans-serif';
  padding: 25px 0;

  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.main-content p {
  font-size: 12px;
  line-height: 1.4em;
  padding: 5px;
  text-align: center;
}
.main-content span a {
  text-transform: uppercase;
  color: #EB5936;
  font: bold;
}
.main-content span a:hover {
  color: #fff;
}
@media only screen and (min-width: 620px) {
  .main-content p {
    font-size: 15px;
  }
}
@media only screen and (max-height: 800px) {
  .container {
    margin-top: 0;
  }
}
 
/* Right bottom features info */
.features {
  margin-top: 200px;
  margin-bottom: 150px;
  height: 190px;
  position: relative;

  background: rgba(66, 78, 89, 0.6);
  padding: 10px 10px 0 10px;
  border: 2px solid #424E59;
  border-radius: 6px;

  display: flex;
  justify-content: space-around;
}
.features li {
  text-decoration: none;
  text-align: center;
  padding-bottom: 5px;
  display: block;
  list-style: none;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}
.features li:last-child a {
  display: flex;
  display: -webkit-flex; /* Safari */
  -webkit-align-items: center; /* Safari 7.0+ */
  align-items: center;
  justify-content: center;
}
.features li a span {
  font-size: 16px;
}
.features li a svg {
  margin-left: 15px;
}
.features-more {
  position: absolute;

  display: flex;
  display: -webkit-flex; /* Safari */
  -webkit-align-self: flex-end; /* Safari 7.0+ */
  align-self: flex-end;
  justify-content: center;
}
.features p {
  position: absolute;
  top: -40px;
  left: -10px;
  font-size: 11px;
  font-weight: bold;
  border-bottom: 1px solid #EB5936;
}

@media only screen and (min-width: 400px) {
  .features {
    height: 210px;
  }
  .features li {
    font-size: 20px;
  }
}
@media only screen and (min-width: 620px) {
  .features {
    position: absolute;
    float: right;
    bottom: 25px;
    right: 25px;
    margin: 25px 0 0 0;

    width: 220px;
    height: auto;
    right: 25px;

    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .features p {
    top: -0px;
    left: -340px;
    font-size: 15px;
  }
  .features-more {
    align-self: center;
    -webkit-align-self: center;
    
    position: relative;
    margin-top: 12px;
  }
}
@media only screen and (max-height: 700px) {
  .features {
    position: relative;
  }
}

/* Footer contact info */
.footer {
  width: 100%;
  height: 55px;
  position: absolute;
  bottom: 25px;

  font-family: "Helvetica", "sans-serif";
  font-size: 0;

  display: flex;
  display: -webkit-flex;
  justify-content: center;
}
.footer div {
  display: inline-block;
  overflow: hidden;
  text-align: center;
  
  align-self: center;
  -webkit-align-self: center;
}
[class*="col-"] {
  float: left;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.col-3 {
  width: 30%;
}
.col-6 {
  width: 20%;
}
.media {
  padding-top: 5px;
}
.media a img {
  width: 40px;
  height: 40px;
}
.footer-info {
  font-size: 0;
}
.footer-info h3,
.footer-info a {
  color: #fff;
  font-size: 11px;
  font-family: "Helvetica", "sans-serif";
  margin: 0;
  padding: 5px;
}
.footer-info h3 {
  text-transform: uppercase;
  font-size: 10px;
}
.footer-media img:first-child {
  padding-right: 20px;
}
@media only screen and (min-width: 620px) {
  .footer {
    width: 380px;
    margin: 25px;
    bottom: 0;
  }
  .footer div {
    text-align: start;
  }
  .footer-info h3,
  .footer-info a {
    font-size: 11px;
  }
}