/* #TEHTUD */
body {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba( 36, 38, 37, .8)),  url("../images/portfolio/bg.jpg");
  background-image: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(36, 38, 37, .8)), url("../images/portfolio/bg.jpg");
  background-image: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(36, 38, 37, .8)), url("../images/portfolio/bg.jpg");
  background-image: -o-linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(36, 38, 37, .8)), url("../images/portfolio/bg.jpg");
}

.filters-container {
  text-align: center;
  margin: 50px 0;
  display: none;
}
.filters-container div {
  display: inline-block;
  padding: 8px;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
}
.filters-container div:hover {
  color: #EB5936;
}
.cbp-filter-item-active {
  color: #EB5936;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
}
.cbp-l-filters-dropdown-floated {
  float: none;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.cbp-l-filters-dropdownWrap {
  background: rgba(66, 78, 89, 0.9);
  border: 2px solid #424E59;
  border-radius: 6px;
}
.cbp-l-filters-dropdown {
  display: block;
}
.cbp-l-filters-dropdownWrap-open {
  transition: all 0.1s ease-in-out;
}

@media only screen and (min-width: 620px) {
  .cbp-l-filters-dropdown {
    display: none;
  }
  .filters-container {
    display: block;
  }
}