
/* body {
  background-image: linear-gradient(to top right, rgba(36, 38, 37, .6), rgba(131, 137, 140, .6)),  url("images/teenused-bg.jpeg");
  background-attachment: fixed;
} */

/* #TEENUSED */
.teenused-content {
  position: absolute;
  width: 500px;
  height: 300px;
  top: 30%;
  left: 8%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.teenused-content p {
  font-size: 16px;
  line-height: 1.3em;
}
.grid {
  position: absolute;
  display: flex;
  width: 200px;
  height: 540px;
  right: 16%;
  top: 20%;
/*   background: rgba(66, 78, 89, 0.9); */
}
.grid-container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.grid-item {
  width: 200px;
  height: 180px;
  text-align: center;
}
.grid-item img {
  width: 200px;
  height: 170px;
  filter: grayscale(80%);
  margin-bottom: 10px;
}
.grid-item h3 {
  color: #fff;
  font-size: 15px;
  margin-top: 10px;
  text-transform: uppercase;
  text-decoration: underline #F28B4F;

}
.grid-item .item1,
.grid-item .item2,
.grid-item .item3 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  background: rgba(66, 78, 89, 0.6);
  padding: 10px;
}
.grid-item .item1 {
  top: 15%;
}
.grid-item .item2 {
  top: 50%;
}
.grid-item .item3 {
  top: 80%;
/*   right: 0px; */
}