body {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba( 36, 38, 37, .8)),  url("../images/tehtud/bg1.jpg");
}
/* TEHTUD */

.list-container ul {
  text-align: center;
}
.list-container ul li {
  display: inline-block;
  padding: 8px;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  /* border-bottom: 1px solid #999; */
}
/* .list-container ul li:last-child {
  border: none;
} */
.list-container ul li:hover {
  color: #EB5936;
}
.active {
  color: #EB5936;
  transition: all 0.1s ease-in-out;
}
.grid-container {
  margin: 50px;

  display: flex;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  justify-content: space-around;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.grid-item {
  /* width: 180px; */
  /* height: 150px; */
  margin-bottom: 40px;
  text-align: center;
  display: none;
  transition: all 3s;
}
.show {
  display: block;
  transition: all 0.5s ease;
}
.grid-item img {
  width: 180px;
  height: 150px;
}

@media only screen and (min-width: 620px) {
  .grid-container {
    /* width: 60%; */
  }
  /* .grid-item {
    width: 336px;
    height: 280px;
  } */
  .grid-item img {
    width: 300px;
    height: 250px;
  }
}