
/* TEHTUD */

.tehtud-content {
  width: 100%;
  /* overflow: hidden; */
}
.grid-container {
  margin: 50px;

  display: flex;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  justify-content: space-around;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.grid-item {
  /* width: 180px; */
  /* height: 150px; */
  margin-bottom: 40px;
  text-align: center;
}
.grid-item img {
  width: 180px;
  height: 150px;
}

@media only screen and (min-width: 620px) {
  .grid-container {
    /* width: 60%; */
  }
  /* .grid-item {
    width: 336px;
    height: 280px;
  } */
  .grid-item img {
    width: 300px;
    height: 250px;
  }
}